:root {
  --text-color: #FFFBF9;

  --accent-color: #E27152;
  --brand-color: #395C6B;
}

body {
  background:
    radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),
    radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%),
    radial-gradient(142% 91% at 83% 7%, #F3BF6DFF 1%, #FF000000 99%),
    radial-gradient(142% 91% at -6% 74%, #FF3416FF 1%, #FF000000 99%),
    radial-gradient(142% 91% at 111% 84%, #E27152FF 0%, #FF0000FF 100%);
  color: var(--text-color);
  overflow: hidden;
  position: relative;
  padding: 60px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

img.mark {
  position: absolute;
  opacity: 0.2;
  top: -94px;
  right: -109px;
}

span.section:before {
  margin-right: 26px;
  content: "/";
  vertical-align: top;
  opacity: 0.5;
}
span.section {
  margin-left: 20px;
  font-family: "Source Sans Pro";
  font-size: 48px;
  line-height: 49px;
  vertical-align: top;
}

a {
  margin-top: 60px;
  padding: 19px 36px;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 16px;
  line-height: 1.4;
  color: var(--text-color);
  border: 3px solid var(--text-color);
  background: transparent;
  opacity: 0.85;
}
