:root {
  --text-color: #FFF;
  --background-color: black;
  --secondary-text-opacity: 0.6;
}
body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "SF Mono", monospace;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: -1px;
}

div.container {
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
main {
  padding-top: 20vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 80vw;
}

main h1 {
  font-size: 3.5rem;
  letter-spacing: -0.05rem;
  line-height: 1.15;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
main .stats {
  font-size: 1.25rem;
}
main .stats p {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
main .stats label {
  width: 65px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  opacity: var(--secondary-text-opacity);
}
footer {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
footer .left span {
  opacity: var(--secondary-text-opacity);
}
footer .right {
  opacity: var(--secondary-text-opacity);
  text-transform: uppercase;
}
