<html>
  <head>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/lander.css">
    <link rel="stylesheet" href="assets/css/ion.css">
    <link rel="stylesheet" href="assets/css/ion-lander.css">
  </head>
  <body>
    <img class="mark" width="500" src="assets/images/logomark-white.svg" />
    <div class="logo">
      <img height="48" src="assets/images/logo-ion.svg" />
      <span>/</span>
      <img height="36" src="assets/images/logo-sst.svg" />
    </div>
    <h1 id="title"></h1>
    <a>Get Started</a>
    <script>
      const urlSearchParams = new URLSearchParams(window.location.search);
      const params = Object.fromEntries(urlSearchParams.entries());

      document.getElementById("title").innerHTML = params.title;
    </script>
  </body>
</html>

