<html>
  <head>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/opencode-share.css">
  </head>
  <body>
    <div class="container">
      <main>
        <h1 id="title"></h1>
        <div class="stats">
          <p class="model">
            <label>Model</label>
            <span id="model" class="value">claude-sonnet-4-20250514</span>
          </p>
          <p class="cost">
            <label>Cost</label>
            <span id="cost" class="value">$0.12</span>
          </p>
        </div>
      </main>
      <footer>
        <div class="left">
          <img height="20" src="assets/images/logo-opencode.svg" />
          <span id="version">v0.1.1</span>
        </div>
        <div class="right">
          Id <span id="id">43120e6b</span>
        </div>
      </footer>
    </div>
    <script>
      // ?title=Intro to SST&cost=$0.12&model=claude-sonnet-4-20250514&version=v0.1.1&id=43120e6b
      // ?title=Run OpenCode in non-interactive mode by passing a prompt directly as a command-line argument. This is useful for scripting, automation, or when you want a quick answer without launching the full TUI&cost=$0.12&model=claude-sonnet-4-20250514&version=v0.1.1&id=43120e6b
      // ?title=Run OpenCode in non-interactive mode by passing a prompt directly as a command-line argument. This is useful for scripting, automation, or when you want a quick answer without launching the full TUI&cost=$0.12&model=claude-sonnet-4-20250514,claude-sonnet-4-20250514,claude-sonnet-4-20250514,claude-sonnet-4-20250514,claude-sonnet-4-20250514&version=v0.1.1&id=43120e6b
      const urlSearchParams = new URLSearchParams(window.location.search);
      const params = Object.fromEntries(urlSearchParams.entries());

      document.getElementById("title").innerHTML = params.title;
      document.getElementById("version").innerHTML = params.version;
      document.getElementById("cost").innerHTML = params.cost;
      document.getElementById("model").innerHTML = params.model;
      document.getElementById("id").innerHTML = params.id;
    </script>
  </body>
</html>
