<html>
  <head>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/lander.css">
  </head>
  <body>
    <img class="mark" width="500" src="assets/images/logomark-white.svg" />
    <img height="55" src="assets/images/logo.svg" />
    <h1>A framework that makes<br /> it easy to build serverless apps</h1>
    <a>Get Started</a>
  </body>
</html>
